@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    /* Color variables */
    --brand-orange-color: #F96302;
    --text-grey-color: #36454f;
    --hover-mask-color: rgba(100, 100, 100, 0.2);
    --menu-background-color: #fff;

    /* Font Related Variables */
    --roboto-fonts: 'Roboto', sans-serif;
}

body {
    font-family: var(--roboto-fonts);
    margin: 0;
    color: var(--text-grey-color);
}

header {
    width: 100%;
    font-size: 16px;
    font-weight: lighter;
    position: relative;
    z-index: 1;
}


/****** Style Resets (Header) ******/

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--text-grey-color);
}

header a:hover {
    font-weight: bold;
}


/****** BANNER ******/

header banner {
    width: 100%;
    justify-content: center;
    background-color: var(--brand-orange-color);
    height: 32px;
    display: flex;
    align-items: center;
}

header banner p {
    margin: 0;
    color: white;
}


/****** MAIN MENU  ******/

.main-menu-container {
    padding: 0 20px;
    box-shadow: 0 2px 9px 0 #cccccc;
}

#main-menu {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}

#main-menu li {
    display: inline-block;
    padding: 16px 16px 16px 0;
}


/****** DROPDOWN  ******/
  
.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 46px;
    display: none;
    width: 240px;
    height: 100vh;
    padding-top: 10px;
    padding-left: 16px;
    margin-left: -16px;
    background-color: var(--menu-background-color); 
}

.dropdown-content a {
    display: block;
    width: 100%;
    padding: 5px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/****** SLIDEOUT  ******/

.slideout-content {
    position: absolute;
    top: 0;
    left: 256px;
    display: none; 
    width: 300px;
    height: 100vh; 
    padding: 10px 5px 5px 0;
    background-color: var(--menu-background-color);
}

.slideout-content > a {
    padding-left: 16px;
    border-left: 2px solid var(--hover-mask-color);
}

.slideout-heading {
    font-size: 20px;
}

.slideout:hover .slideout-content {
    display: block;
}


/****** MAIN ******/

main {
    min-height: 100vh;
    background-color: white;
    font-family: var(--roboto-fonts);
    font-weight: 800;
    font-size: 80px;
    text-transform: uppercase;
    padding: 80px;
    position: relative;
}

#hover-mask {
    display: none;
    background-color: var(--hover-mask-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
