@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&family=Open+Sans:wght@800&family=Roboto:wght@300;400;700&display=swap');


/****** Color variables ******/


:root {
    --brand-orange-color: #F96302;
    --text-grey-color: #36454f;
    --hover-mask-color: rgba(100, 100, 100, 0.2);

    /* Font Related Variables */
    /* Use font shorthand.
       
    refrence:
    https://www.w3schools.com/css/css_font_shorthand.asp
    e.g.
    font:  style  weight  size/line-height  family1,  family2;
    font: italic small-caps bold 12px/30px Georgia, serif;
     */
    --roboto-fonts: 'Roboto', sans-serif;
    --open-sans-fonts: 'Open Sans', sans-serif;
    /* the next line is used only for testing */
    /* --cursive-fonts: 'Mrs Sheppards', cursive; */
}


body {
    font-family: var(--roboto-fonts);
    margin: 0;
    color: var(--text-grey-color);
}

header {
    width: 100%;
    font-size: 16px;
    font-weight: lighter;
    position: relative;
}


/****** Style Resets (Header) ******/


header ul {
    list-style: none;
    padding-left: 26px;
}

header a {
    text-decoration: none;
    color: var(--text-grey-color);
}

header a:hover {
    font-weight: bold;
}


/****** BANNER ******/


header banner {
    width: 100%;
    justify-content: center;
    background-color: var(--brand-orange-color);
    height: 32px;
    display: flex;
    align-items: center;
}

header banner p {
    margin: 0;
    color: white;
}


/****** MAIN MENU  ******/


.main-menu-container {
    padding: 0 20px;
}

.main-menu {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}

.main-menu li {
    padding: 16px 16px 16px 0;
}


/****** SUBMENU LEVEL 1 - DROPDOWN ******/


.submenu-level-1 {
    display: none;
    position: absolute;
    top: 66px;
    left: 0;
    z-index: 1;
    background-color: white;
    width: 260px;
    padding-top: 10px;
}

/* .submenu-level-1.active {
    display: block;
} */

.submenu-level-1 li {
    padding: 3px 0;
}




/* .submenu-home-decor-furniture {
    display: none;
} */


/****** SUBMENU LEVEL s - SLIDEOUT ******/


.submenu-level-2 {
    display: none;
}


/****** MAIN ******/


main {
    min-height: 100vh;
    background-color: white;
    z-index: 0;;
    font-family: var(--roboto-fonts);
    font-weight: 800;
    font-size: 80px;
    text-transform: uppercase;
    padding: 80px;
    position: relative;
}

/* main a {
    text-decoration: none;
} */

#hover-mask {
    display: none;
    background-color: var(--hover-mask-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
